* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-image: linear-gradient(rgba(120, 101, 101, 0.548), rgba(0, 0, 0, 0.7)), 
                      url(images/BG\ LATTA.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    color: #333;
    height: 100vh; 
    overflow-x: hidden; 
}
header {
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: top 0.2s;
}

header .logo {
    max-width: 180px; 
    height: 50px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #f9ca24;
}



main {
    padding: 150px 20px 50px;
}

h1.Branches {
    padding-top: 10%;
    text-align: center;
    font-size: 3em;
    color: #f6f5f5;
    margin-bottom: 30px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.card:hover {
    transform: scale(1.05);
}

.card .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    padding: 10px 0;
    font-weight: bold;
}


@media (max-width: 992px) {
    .branches-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    h1.title {
        font-size: 2em;
    }
}

footer {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
    color: #f39c12;
}

footer p {
    font-size: 1em;
}